* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    padding-top: 1%;
    padding-bottom: 5%;
    margin: 0%;
    background-color: lightgray;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
    grid-template-columns: repeat(4, 100px);
}

button {
    border: 1px solid green;
    font-size: 1.5rem;
    color: green;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);;
}

.big {
    grid-column: span 2;
}

.screen {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid green;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous {
    color: limegreen;
    font-size: 1rem;
}

.current {
    color: green;
    font-size: 1.5rem;
}

.history{
    display: flex;
    margin-left: 61%;
    /*width: 30%;
    height: 50%;*/
    background-color: black;
    justify-content: left;
    align-content: flex-end;
    border: 2px solid green;
    color: green;
    font-size: large;
    overflow: auto;
}

.move {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
}

.text {
    width: 125px;
    height: 60px;
    background-color: black;
    border: 1px solid green;
    color: green;
    font-size: 1.5rem;
}