.calculator__keys {
    display: block;
    width: 50vh;
    right: 50%;
    top: 5%;
    position: absolute;
}

.number-display{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 2vh;
    width: 50vh;
    font-size: 20pt;
    background-color: #ffa32e;
}

.sign-display{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 2vh;
    width: 50vh;
    font-size: 20pt;
    background-color: #72f3ff;
}

button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 10vh;
    width: 10vh;
    font-size: 20pt;
}

ul {
    list-style-type: none;
    background: #3399ff;
    padding: 20px;
    position: absolute;
    width: 50vh;
    left: 70vh;
    top: 5%;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}

.calculator__functions {
    display: flex;
    width: 50%;
    margin-left: 40%;
    margin-top: 10%;

}

