.calculator__keys {
    display: block;
    width: 50%;
    margin-left: 40%;
    margin-top: 10%;
    /* other necessary CSS */

}

.number-display{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 10vh;
    width: 10vh;
    font-size: 20pt;
}

button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 10vh;
    width: 10vh;
    font-size: 20pt;
}


.calculator__functions {
    display: flex;
    width: 50%;
    margin-left: 40%;
    margin-top: 10%;
    /* other necessary CSS */

}