.key-function {
    background-color: #a7afa6;
}

.key-calculate {
    background-color: #ffb23a;
}

.key-number {
    background-color: #686d70;
    color: #f2faff;
}

body{
    background-color: #959a9d;
}