:root {
    --primary-color: url("noise.png"), linear-gradient(-31deg, hsl(335, 50%, 51%), hsl(46, 60%, 61%)) no-repeat;
    /* hsl(271, 50%, 50%) */
    --tint-light: #FBFCFF;
    --tint-medium: #DFE1E7;
    --tint-dark: #333333;
    --tint-black: #000000;
}

body {
    background: var(--primary-color);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container {
    display: flex;
    position: relative;
    background-color: var(--tint-light);
    width: 55vmin;
    height: 65vmin;
    box-shadow: 2vmin 2vmin var(--tint-black);
    align-self: center;
}

#container::before {
    content: "";
    width: 2vmin;
    height: 0;
    position: absolute;
    right: -2vmin;
    top: 0.0565vmin;
    border-left: 2vmin solid transparent;
    border-right: 2vmin solid transparent;
    border-bottom: 2vmin solid var(--tint-black);
    z-index: -1;
}

#container::after {
    content: "";
    width: 2vmin;
    height: 0;
    position: absolute;
    bottom: -2vmin;
    border-top: 2vmin solid var(--tint-black);
    border-left: 2vmin solid transparent;
    border-right: 2vmin solid transparent;
}

#display {}

#keys {}