@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

:root {
    --primary-color: 0 0 / 25vmin url("noise.png"), linear-gradient(-31deg, hsl(335, 50%, 51%), hsl(46, 60%, 61%));
    --calculator-color: #fbfcff;
    --hover-color: #dfe1e744;
    --contrast-color: #111;
    --calculator-shadow-size: 4vmin;
    --key-shadow-size: 0.75vmin;
    --display-shadow-size: 0.75vmin;
    --calculator-width: 50vmin;
    --calculator-height: 60vmin;
    --button-animation: clip-path 0.1s ease, transform 0.1s ease;
    --switch-animation: transform 0.4s ease;
}

@media (prefers-color-scheme: dark) {
    :root {
        --contrast-color: hsl(246, 74%, 62%);
        --calculator-color: hsl(263, 19%, 18%);
    }

    body {
        --primary-color: 0 0 / 25vmin url("noise.png"), linear-gradient(-31deg, hsl(290, 48%, 36%), hsl(209, 39%, 39%));
    }
}

body {
    background: var(--primary-color);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', serif;
    font-weight: 400;
    color: var(--contrast-color);
    font-size: 5vmin;
    margin: calc((100vh - var(--calculator-height)) / 2) 0 auto 0;
    line-height: 1.33;
}

#container {
    display: flex;
    flex-direction: column;
    background: var(--calculator-color);
    height: var(--calculator-height);
    width: var(--calculator-width);
    position: relative;
}

#container::before, #container::after, #keys > div::before, #keys > div::after, #display::before, #display::after {
    content: "";
    position: absolute;
    background: var(--contrast-color);
}

#container::before {
    right: calc(var(--calculator-shadow-size) * -1);
    clip-path: polygon(0 0, 100% var(--calculator-shadow-size), 100% 100%, 0 100%);
    z-index: -1;
    height: calc(var(--calculator-shadow-size) + var(--calculator-height));
    width: var(--calculator-shadow-size);
}

#container::after {
    bottom: calc(var(--calculator-shadow-size) * -1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--calculator-shadow-size) 100%);
    height: var(--calculator-shadow-size);
    width: calc(var(--calculator-shadow-size) + var(--calculator-width));
}

#display {
    height: 16vmin;
    padding: 2vmin 0.5vmin 0.5vmin 2vmin;
    margin: 2vmin;
    text-align: right;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#display::before {
    left: var(--display-shadow-size);
    top: var(--display-shadow-size);
    height: calc(100% - var(--display-shadow-size));
    width: var(--display-shadow-size);
}

#display::after {
    left: var(--display-shadow-size);
    top: var(--display-shadow-size);
    height: var(--display-shadow-size);
    width: calc(100% - var(--display-shadow-size));
}

#display > * {
    height: 50%;
}

#clipping-container {
    clip: rect(auto, auto, auto, auto);
    height: calc(var(--calculator-height) - 26.5vmin);
    width: calc(var(--calculator-width) - 3.5vmin);
    margin: 2vmin;
    position: absolute;
}

#keys {
    display: grid;
    grid-template-columns: repeat(9, 7.5vmin);
    -moz-user-select: none;
    user-select: none;
    gap: 2vmin;
    justify-items: center;
    align-content: flex-start;
    transition: var(--switch-animation);
}

.switch-tab {
    transform: translateX(calc(-1 * var(--calculator-width) * 0.75));
}

#keys > div {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: var(--button-animation);
}

#keys > div::before, #keys > div::after {
    transition: var(--button-animation);
    display: block;
}

#keys > div::before {
    right: calc(var(--key-shadow-size) * -1);
    clip-path: polygon(0 0, 100% var(--key-shadow-size), 100% 100%, 0 100%);
    height: calc(100% + var(--key-shadow-size));
    width: var(--key-shadow-size);
}

#keys > div::after {
    left: 0;
    bottom: calc(var(--key-shadow-size) * -1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--key-shadow-size) 100%);
    height: var(--key-shadow-size);
    width: calc(100% + var(--key-shadow-size));
}

#keys > div:hover {
    background-color: var(--hover-color);
}

#keys > div:active {
    transform: translateX(var(--key-shadow-size)) translateY(var(--key-shadow-size));
}

#keys > div:active::before {
    clip-path: polygon(0 0, 0 var(--key-shadow-size), 0 calc(100% - var(--key-shadow-size)), 0 calc(100% - var(--key-shadow-size)));
}

#keys > div:active::after {
    clip-path: polygon(0 0, calc(100% - var(--key-shadow-size)) 0, calc(100% - var(--key-shadow-size)) 0, var(--key-shadow-size) 0);
}

#keys > div[data-key="0"] {
    grid-column: 1 / 3;
}

#keys > div[data-key="sin"], #keys > div[data-key="tan"] {
    grid-column: 6 / 8;
}

#keys > div[data-key="cos"], #keys > div[data-key="log"] {
    grid-column: 8 / 10;
}