:root {
    --primary-color: 0 0 / 25vmin url("noise.png"), linear-gradient(-31deg, hsl(335, 50%, 51%), hsl(46, 60%, 61%)) no-repeat;
    /* hsl(271, 50%, 50%) */
    --tint-light: #fbfcff;
    --tint-medium: #dfe1e7;
    --tint-medium-alpha: #dfe1e744;
    --tint-dark: #333;
    --tint-black: #111;
    --calculator-shadow-size: 4vmin;
    --key-shadow-size: 1vmin;
    --calculator-width: 50vmin;
    --calculator-height: 65vmin;
    --button-animation: clip-path 0.1s ease, transform 0.1s ease;
}

body {
    background: var(--primary-color);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 5vmin;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: var(--tint-light);
    height: var(--calculator-height);
    width: var(--calculator-width);
    align-self: center;
    grid-area: calculator;
    position: relative;
}

#container::before, #container::after, .key::before, .key::after {
    content: "";
    position: absolute;
    background: var(--tint-black);
}

#container::before {
    right: calc(var(--calculator-shadow-size) * -1);
    clip-path: polygon(0 0, 100% var(--calculator-shadow-size), 100% 100%, 0 100%);
    z-index: -1;
    height: calc(var(--calculator-shadow-size) + var(--calculator-height));
    width: var(--calculator-shadow-size);
}

#container::after {
    bottom: calc(var(--calculator-shadow-size) * -1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--calculator-shadow-size) 100%);
    height: var(--calculator-shadow-size);
    width: calc(var(--calculator-shadow-size) + var(--calculator-width));
}

#display {
    height: 16vh;
    padding: 2vmin;
}

#keys {
    margin: auto 0 0 0;
    display: grid;
    grid-template-areas: "num num num backspace clear" "num num num multiplication division" "num num num addition subtraction" "num num num equal .";
    grid-template-columns: repeat(5, 1fr);
    user-select: none;
    gap: 2vmin;
    padding: 2vmin;
    justify-items: center;
    align-content: center;
    position: relative;
}

.key {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: var(--button-animation);
}

.key::before, .key::after {
    transition: var(--button-animation);
    display: block;
}

.key::before {
    right: calc(var(--key-shadow-size) * -1);
    clip-path: polygon(0 0, 100% var(--key-shadow-size), 100% 100%, 0 100%);
    height: calc(100% + var(--key-shadow-size));
    width: var(--key-shadow-size);
}

.key::after {
    left: 0;
    bottom: calc(var(--key-shadow-size) * -1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--key-shadow-size) 100%);
    height: var(--key-shadow-size);
    width: calc(100% + var(--key-shadow-size));
}

.key:hover {
    background-color: var(--tint-medium-alpha);
}

.key:active {
    transform: translateX(var(--key-shadow-size)) translateY(var(--key-shadow-size));
}

.key:active::before {
    clip-path: polygon(0 0, 0 var(--key-shadow-size), 0 calc(100% - var(--key-shadow-size)), 0 calc(100% - var(--key-shadow-size)));
}

.key:active::after {
    clip-path: polygon(0 0, calc(100% - var(--key-shadow-size)) 0, calc(100% - var(--key-shadow-size)) 0, var(--key-shadow-size) 0);
}

#backspace {
    grid-area: backspace;
}

#equal {
    grid-area: equal;
}