*, *::before, *::after{
    box-sizing: border-box;
    font-family: "Droid Sans Mono Slashed", sans-serif ;
    font-weight: normal;
    transition: 0.5s;
}

body{
    padding: 0;
    margin: 0;
    background: lightblue;
    height: 100%;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: oldlace;
}

.calculator-grid > button:hover{
    background-color: white;
}

.span-two{
    grid-column: span 2;
}

 .span-three{
    grid-column: span 3;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 12px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: #999999;
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}
section.dark{
    background: #262626;
    color: #fff;
}
ul {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
}

#name{
    position: absolute;
    bottom: 1%;
    left: 90%;
    border: 1px solid #000;
    text-align: center;
}
#repo{
    position: absolute;
    bottom: 6%;
    left: 91.5%;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    display: block;
    
}
ul.active{
    border-color: #fff;
}

ul li{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}
ul.active li{
    transform: translateY(-30px);
}
ul li span{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #fff;
}

ul li span:nth-child(1){
    background: #262626;
    color: #fff;
}