@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

::-webkit-scrollbar {
    height: 0.75vmin;
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--contrast-color-alt);
}

:root {
    --primary-color: 0 0 / 25vmin url("noise.png"), linear-gradient(-31deg, hsl(335, 50%, 51%), hsl(46, 60%, 61%));
    --calculator-color: #fbfcff;
    --scrollbar-color: #dfe1e7;
    --hover-color: #dfe1e744;
    --contrast-color: #111;
    --contrast-color-alt: #575050;
    --calculator-shadow-size: 4vmin;
    --key-shadow-size: 0.75vmin;
    --display-shadow-size: 0.75vmin;
    --calculator-width: 50vmin;
    --calculator-height: 60vmin;
    --button-animation: clip-path 0.1s ease, transform 0.1s ease;
    --switch-animation: transform 0.4s ease;
}

@media (prefers-color-scheme: dark) {
    :root {
        --calculator-color: hsl(263, 19%, 15%);
        --contrast-color: hsl(246, 74%, 62%);
        --contrast-color-alt: hsl(246, 74%, 70%);
        --scrollbar-color: hsl(263, 19%, 24%);
        --hover-color: #dfe1e711;
    }

    body {
        --primary-color: 0 0 / 25vmin url("noise.png"), linear-gradient(-31deg, hsl(290, 48%, 36%), hsl(209, 39%, 39%));
    }
}

body {
    background: var(--primary-color);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', serif;
    font-weight: 400;
    color: var(--contrast-color);
    font-size: 5vmin;
    height: 100vh;
    margin: 0;
    line-height: 1.33;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    background: var(--calculator-color);
    height: var(--calculator-height);
    width: var(--calculator-width);
    position: relative;
}

#container::before, #container::after, div[data-key]::before, div[data-key]::after, #display::before, #display::after {
    content: "";
    position: absolute;
    background: var(--contrast-color);
}

#container::before {
    right: calc(var(--calculator-shadow-size) * -1);
    clip-path: polygon(0 0, 100% var(--calculator-shadow-size), 100% 100%, 0 100%);
    height: calc(var(--calculator-shadow-size) + var(--calculator-height));
    width: var(--calculator-shadow-size);
}

#container::after {
    bottom: calc(var(--calculator-shadow-size) * -1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--calculator-shadow-size) 100%);
    height: var(--calculator-shadow-size);
    width: calc(var(--calculator-shadow-size) + var(--calculator-width));
}

#display {
    height: 16vmin;
    padding: 1.5vmin 0 0 1.5vmin;
    margin: 2vmin;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
}

#display::before {
    left: var(--display-shadow-size);
    top: var(--display-shadow-size);
    height: calc(100% - var(--display-shadow-size));
    width: var(--display-shadow-size);
}

#display::after {
    left: var(--display-shadow-size);
    top: var(--display-shadow-size);
    height: var(--display-shadow-size);
    width: calc(100% - var(--display-shadow-size));
}

#display > * {
    flex: 1 1 50%;
    margin-top: 1vmin;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
}

#history {
    color: var(--contract-color-alt);
    font-size: 4vmin;
}

#clipping-container {
    clip: rect(auto, auto, auto, auto);
    height: calc(var(--calculator-height) - 26.5vmin);
    width: calc(var(--calculator-width) - 3.5vmin);
    margin: 2vmin;
    position: absolute;
}

#keys {
    display: grid;
    grid-template-columns: repeat(9, 7.5vmin);
    -moz-user-select: none;
    user-select: none;
    gap: 2vmin;
    justify-items: center;
    align-content: flex-start;
    transition: var(--switch-animation);
}

.switch-tab {
    transform: translateX(calc(-1 * (var(--calculator-width) - 12vmin)));
}

div[data-key] {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: var(--button-animation);
}

div[data-key]::before, div[data-key]::after {
    transition: var(--button-animation);
    display: block;
}

div[data-key]::before {
    right: calc(var(--key-shadow-size) * -1);
    clip-path: polygon(0 0, 100% var(--key-shadow-size), 100% 100%, 0 100%);
    height: calc(100% + var(--key-shadow-size));
    width: var(--key-shadow-size);
}

div[data-key]::after {
    left: 0;
    bottom: calc(var(--key-shadow-size) * -1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--key-shadow-size) 100%);
    height: var(--key-shadow-size);
    width: calc(100% + var(--key-shadow-size));
}

div[data-key]:hover {
    background-color: var(--hover-color);
}

div[data-key]:active {
    transform: translate(var(--key-shadow-size), var(--key-shadow-size));
}

div[data-key]:active::before {
    clip-path: polygon(0 0, 0 var(--key-shadow-size), 0 calc(100% - var(--key-shadow-size)), 0 calc(100% - var(--key-shadow-size)));
}

div[data-key]:active::after {
    clip-path: polygon(0 0, calc(100% - var(--key-shadow-size)) 0, calc(100% - var(--key-shadow-size)) 0, var(--key-shadow-size) 0);
}

div[data-key="0"] {
    grid-column: 1 / 3;
}

div[data-key="sin"], div[data-key="tan"] {
    grid-column: 6 / 8;
}

div[data-key="cos"], div[data-key="log"] {
    grid-column: 8 / 10;
}