body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    background:	#DCDCDC;
}

.calculator{
    z-index:2;
    position: absolute;
    display: grid;
    left: 38%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.calculator .value{
    grid-column: span 5;
    height: 30px;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 1px;
    background: #DCDCDC;
}

.calculator span{
    display: grid;
    /*width: 60px;*/
    height: 50px;
    color: 	#696969;
    background: #FFCFDE;
    place-items: center;
    padding: 1px;
    
}

.calculator span:hover{
    box-shadow: inset 0 0 0 3px #FF83A8;
    
}

.calculator span:active{
    background: #FF83A8;
}

.calculator span.equal{
    background: #3CB371;
    color: white;
    grid-column: 3/6;

}

.calculator span.clear{
    background: lightcoral;
    color: white;
    grid-column: 1/3;

}

input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}


.check { 
    position: relative;
    left: -710px;
    bottom: -260px;
    display: block;
    width: 40px;
    height: 20px;
    background: #696969;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;

}

input[type="checkbox"]:checked ~.check{
    background: #DCDCDC;
    box-shadow: 0 0 0 2000px #696969;
}

.check:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;    
    background: #a2bbe5;
}

input[type="checkbox"]:checked ~.check:before{
    transform: translateX(20px);
}


.check:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    background: moccasin;
}

input[type="checkbox"]:checked ~.check:after{
    transform: translateX(-20px);
}

.memory{
    display:inline-block;
    z-index:1;
    position: absolute;
    padding: 2px;
    max-width: 500px;
    top: 225px;
    left: 60%;
    display: block;
    border-left: solid 2px;
    border-top: solid 2px;
    color: #FF83A8;
    overflow: hidden;
    
}

.personal { 
    position: absolute;
    bottom: 20px;
    left: 10px;
}