body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, green, blue);
}

.button {
  width: 49px;
  height: 49px;
  font-size: 25px;
  margin: 2;
  cursor: pointer;
}

.buttonRem {
  width: 49px;
  height: 49px;
  font-size: 20px;
  margin: 2;
  cursor: pointer;
}
.textview {
  width: 210px;
  height: 35px;
  margin: 5;
  font-size: 25px;
  padding: 5;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#bg {
  cursor: pointer;
  margin: 5px;
}

input[type="button"]:hover {
  background-color: lightgray;
}
#repolink {
  padding: 5px;
}

#nameTag {
  padding: 5px;
}

#historyValue {
  padding: 5px;
  height: 20px;
  font-size: 15px;
  color: black;
}
